:root{
    --main-white: #ffffff;
    --content-bg-color: #bed2ff;
    --secondary-color: #1d1fb6;

    font-family: Poppins;
}

main{
    background-color: var(--main-white);
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
}

section{
    background-color: var(--main-white);
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
}

article{
    background-color: var(--content-bg-color);
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    color: var(--secondary-color);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

footer{
    background-color: var(--secondary-color);
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    color: var(--main-white);
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    font-size: 0.8em;
}

.introduction{
    background-color: var(--secondary-color);
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    color: var(--main-white);
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    font-size: 3em;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: #1d1fb6 5px solid;
    border-radius: 10px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

figcaption{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-style: italic;
    color: var(--secondary-color);
}

h1{
    text-align: center;
    font-size: 3em;
}

h2{
    text-align: left;
    font-size: 1.5em;
}

h2:hover{
    color: var(--main-white);
    background-color: var(--secondary-color);
    transition: 0.3s;
    padding: 5px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

a{
    text-decoration:double;
    color: var(--secondary-color);
}

a:hover{
    color: var(--main-white);
    background-color: var(--secondary-color);
    transition: 0.3s;
    padding: 5px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
hr {
    height: 1px;
    color: var(--secondary-color);
    background-color:var(--secondary-color);
    border: none;
}

#figure5-10{
    width: 20%;
}