:root {
    --primary-color: #669bbc;
    --secondary-color: #003049;
    --header-background: #eee;
    --white-color: #FFFAFA;
    --dark-color: #333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: var(--white-color);
    color: var(--dark-color);
    display: grid;
    grid-template-areas: 
    "header header header"
    "bottom-nav bottom-nav bottom-nav"
    "sidebar main main"
    "footer footer footer";
}

h2{
    margin: 10px;
    font-weight: 600;
    padding: 10px;
    color: var(--primary-color);
}

h1, p {
    margin: 10px 0;
    line-height: 1.6;
    text-align: justify;
}

h3 {
    padding: 5px 0;
    margin: 15px 0;
    line-height: 1.6;
    border-bottom: 2px solid var(--primary-color);
}

ul, ol{
    padding-left: 30px;  
}

li {
    margin-left: 10px;  
}

a:hover, header .brand:hover, .bottom-nav a:hover {
  color: var(--primary-color);
}

header {
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;              
    background-color: var(--white-color);
    height: 50px;
    border-bottom: 1px solid var(--primary-color);
}

header section {
    display: flex;
    align-items: center;
    margin-top: 18px;
    gap: 10px;
}

header .logo {
    max-height: 40px; 
}

header .brand {
    font-weight: bold;
    font-size: 1rem;
    color: var(--dark-color);
    text-decoration: none;
    margin-right: 10px;
}

nav{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin: 0 10px;
}

nav a {
    text-decoration: none;
    font-weight: 500;
    color: var(--dark-color);
    padding: 4px 6px;
}

.auth {
    display: flex;
    align-items: center;
}

.auth .btn {
    background-color: var(--primary-color);
    color: var(--white-color);
    padding: 4px 10px;
    border-radius: 6px;
    text-decoration: none;
    transition: 0.2s ease;
    margin-left: 10px;
}

.auth .btn:hover {
    background-color: var(--secondary-color);
}

.bottom-nav {
    grid-area: bottom-nav;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5px;              
    background-color: var(--white-color);
    height: 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
}

.bottom-nav nav {
    display: flex;
    align-items: center;
    gap: 60px;
}

.bottom-nav a {
    text-decoration: none;
    font-weight: 500;
    color: var(--dark-color);
    padding: 0 6px;
    font-size: 0.9rem;
}

.sidebar {
    grid-area: sidebar;
    width: 300px;
    background-color: var(--white-color);
    padding: -25px 15px;
    margin-left: 5px;
}

.sidebar-content {
    position: sticky;
    top: 0;
}

.sidebar ul {
    list-style: none; 
    padding: 0;
    margin: 0;
}

.sidebar li {
    margin-bottom: 6px;
}

.sidebar a {
    display: block;
    padding: 6px 8px;
    border-radius: 6px;
    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-size: 0.9rem;
    transition: 0.2s;
}

.sidebar a:hover {
    background-color: var(--primary-color);
    color: var(--white-color);
}

main {
    grid-area: main;
    margin-right: 200px;
    padding: 0 20px;
}

section {
    padding-top: 15px;
    margin-bottom: 30px;
}

.introduction {
    background-color: var(--white-color);
    padding: 20px;
    border-style: solid;
    border-color: var(--primary-color);
    border-radius: 8px;
}

img {
    max-width: 100%;
    height: auto;
    display: block; 
    margin: 0 auto;
}

footer {
    grid-area: footer;
    text-align: center;
    padding: 15px;
    background-color: var(--secondary-color);
    color: var(--white-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}










