header{
    margin: 10;
    background-color:navy
    
}
.main-title {
  color: white;
}

body{
    background-color:cyan
}

header{
  border: 2px solid rgb(0, 102, 255);
  border-radius: 12px;
  padding: 5px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.objectives-box {
  background-color:beige; /* Light blue */
  border: 2px solid #1976d2; /* Blue border */
  border-radius: 10px;
  padding: 20px;
  margin: 20px 0;
}

.title {
  background-color: #1976d2; /* Blue */
  color: white;              /* White text for contrast */
  padding: 8px 16px;
  border-radius: 6px;
  display: inline-block;
}